body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 800px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.icon {
    font-size: 36px;
    color: #3498db;
}

.content {
    text-align: center;
}

h3 {
    margin: 10px 0;
}

p {
    color: #777;
}
